<div class="jumbotron">
    <h1>Procedural Enemy Ideas</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Movement</h2>
        <h3>Movement Type Name</h3>
        <p>
           Description of the thing that gets generated. 
        </p>
    </div>
    <div class="col-md-3">
        <h2>Passive</h2>
        <h3>Passive Effect Name</h3>
        <p>
            Description of the thing that gets generated.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Ability</h2>
        <h3>Ability Name</h3>
        <p>
            Description of the thing that gets generated.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Trigger</h2>
        <h3>Trigger Name</h3>
        <p>
            Description of the thing that gets generated.
        </p>
    </div>
</div>